.side-main
  .side-head
    %p.user-name
      = current_user.name
    .icon
      = link_to new_group_path do
        %i.far.fa-edit
      = link_to edit_user_path(current_user) do
        %i.fa.fa-cog
  .side-body
    %p.group-name techcamp
    %p.message まだメッセージがありません