*{
  box-sizing: border-box;
}

.wrapper{
  display: flex;
}

// ここからサイドバー

.side-main{
  height: 100vh;
  width: 300px;
  color: #ffffff;
  background-color: #253141;

     // 　サイドバーの上部分

  .side-head{
    height: 100px;
    background-color: #253141;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 29px;
    font-weight: bold;
    .user-name{
      font-size: 16px;
    }
    a{
      text-decoration: none;
      color: #ffffff;
    }
  }

      // サイドバーの下部分

  .side-body{
    background-color: #2f3e51;
    height: calc(100vh - 100px);
    padding: 20px 20px 0;
    a{
      font-size: 15px;
      color: #ffffff;
      text-decoration: none;
      .Group-message{
        font-size: 11px;
        margin-bottom: 40px;
      }
    }
  }
}




// ここから右側部分（メイン部分）

.main{
  height: 100vh;
  width: calc(100vw - 300px);
  background-color: #ffffff;
  .main-head{
    height: 100px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;


      // ヘッダーの左側

    .head-left{
      .group-name{
        padding-top: 35px;
        color: #333333;
        font-size: 20px;
      }
      .group-member{
        font-size: 12px;
        color: #999999;
        padding-top: 15px;
      }
    }

      // ヘッダーの中の右側

    .head-right{
      a{
        display: block;
        text-decoration: none;
        font-size: 16px;
        color: #38aef0;
        width: 72px;
        height: 40px;
        border: 1px solid #38aef0;
        padding: 0 20px;
        margin: 28px 0;
        line-height: 40px;
      }
    
    }
  }


 // メイン部分の中央部

  .main-body{
    height: calc(100vh - 190px);
    background-color: #fafafa;
    padding-left: 40px;
    overflow: scroll;
    .body-message{
       padding-top: 35px;
       .first-message{
         display: flex;
         padding-bottom: 12px;

     // 　ここから中央部の実際の内容

         .name{
           font-size: 16px;
           color: #333333;
           font-weight: bold;
           padding-right: 10px;
         }
         .date{
           font-size: 12px;
           color: #999999;
         }
       }
       .main-message{
         font-size: 14px;
         color: #434a54;
       }
    }
  }






// ここからフォームの実装

  .main-foot{
    height: 90px;
    background-color: #d2d2d2;
    padding: 0 40px;
    form{
      height: 90px;
      display: flex;
      align-items: center;
      .input-space{
        width: 100%;
        position: relative;
        .type-text{
          padding-left: 10px;
          width: 100%;
          height: 50px;
          border: none;
        }

      // 　アイコン

        i{
          position: absolute;
          top: 15px;
          right: 10px;
        }
        .select-file{
          display: none;
        }
        
    }

      // 送信ボタン

      .send{
        color: #ffffff;
        font-size: 16px;
        background-color: #38aef0;
        height: 50px;
        padding: 0 30px;
        border: none;
        margin-left: 15px;
      }
    }
  }
}  


